@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #0a0a6e;
  --color-primary-hover: #0d0d9e;
  --color-primary-light: #4444cc;
  --color-brand-bg: #f0f0ff;
  --color-dark-bg: #05050f;
  --color-dark-card: #0d0d1a;
  --color-dark-nav: #08083d;
}